<div id="userlist">
	<% @users.each do |user| %>
		<%= %Q*<h1><a href="/#{user[0]}">#{user[0]}</a></h1>* %>
	<% end %>

	<hr style="width:20%;">
	<h1><a href="/stats" style="color:black;">stats</a></h1>
</div>
